<div id="<%= dom_id profile %>">
  <p>
    <strong>Image:</strong>
    <%= profile.image %>
  </p>

  <p>
    <strong>Bio:</strong>
    <%= profile.bio %>
  </p>

  <p>
    <strong>User:</strong>
    <%= profile.user_id %>
  </p>

</div>
